.container {
  display: grid;
  /* 3 x 2 */
  /* grid-template-rows: 100px 100px 100px; */ /* each row should be 100px tall */
  /* grid-template-columns: repeat(2, 200px); */ /* each column should be 200px wide */
  /* use repeat function to avoid duplication */
  /* grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(
    2,
    200px
  );  */
  /* use  shorthand to avoid duplication */
  grid-template: repeat(3, 100px) / repeat(2, 100px);
  border: 3px solid lightgrey;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 50vh;
}

.box {
  width: 5rem;
  height: 5rem;
  background-color: gold;
}

.container2 {
  margin-top: 1rem;
  border: 3px solid lightgrey;
  display: grid;
  grid-template: repeat(3, 100px) / repeat(2, 100px);
  /* justify-items: stretch; */ /* default */
  /* align-items: stretch; */ /* default */
}

.box2 {
  background-color: gold;
  line-height: 5rem;
  text-align: center;
}
