body {
    margin: 10px;
}

#products p:first-of-type {
    font-size: 140%;
    font-style: italic;
}

article :last-child {
    font-weight: bold;
}

ul li:nth-child(odd) {
    color: red;
}

a:link {
    color:green;
}

a:hover, a:focus {
    color:deeppink;
}

a:visited {
    color:blue;
}